name: Deploy to Vercel (Deploy Hook)

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy Hook
        run: echo "Triggering deploy hook..."
        curl -i -X POST "${{ secrets.VERCEL_DEPLOY_HOOK_URL }}"